.recipe-item-ingredients-list {
  display: flex;
  flex-direction: column;
}

.recipe-list-head-item-content {
  display: flex;
  align-items: center;
}

.recipe-list-filter-icon {
  cursor: pointer;
}